<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FitTrackApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitTrack">


        <!-- Splash / Login (LAUNCHER) -->
        <activity
            android:name=".ui.auth.SplashLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.FitTrack.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Premium intro after login/register -->
        <activity
            android:name=".ui.PremiumInfoActivity"
            android:exported="false" />

        <!-- Main (bottom-nav host) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Register -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Active Workout Session -->
        <activity
            android:name=".ui.session.ActiveSessionActivity"
            android:exported="false" />

        <!-- Plan Detail -->
        <activity
            android:name=".ui.plan.PlanDetailActivity"
            android:exported="false" />

        <!-- Create / Edit Plan -->
        <activity
            android:name=".ui.plan.CreateEditPlanActivity"
            android:exported="false" />

        <!-- Session Detail (past session) -->
        <activity
            android:name=".ui.session.SessionDetailActivity"
            android:exported="false" />

        <activity android:name=".ui.social.FriendProfileActivity" android:exported="false" />
        <activity android:name=".ui.social.GroupChatActivity" android:exported="false" />
        <activity android:name=".ui.BugReportActivity" android:exported="false" />
        <activity android:name=".ui.ProfileMetricsActivity" android:exported="false" />

        <!-- Account Settings -->
        <activity
            android:name=".ui.AccountSettingsActivity"
            android:exported="false" />

        <!-- About -->
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false" />

        <!-- Help -->
        <activity
            android:name=".ui.HelpActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>

</manifest>